/**/.idea/
/**/.DS_Store

/**/docker/redis/*
/**/docker/mysql/*
/**/docker/apache/logs/*
/**/docker/postgres/*
/**/docker/nginx/logs/*
!/**/docker/mysql/config
!/**/docker/mysql/database/.gitkeep
!/**/docker/postgres/.gitkeep
!/**/docker/apache/logs/.gitkeep
!/**/docker/nginx/logs/.gitkeep
!/**/docker/redis/.gitkeep
